/* Custom Styles */
body {
    padding-top: 0px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Custom Styles */
.img-fluid {
    height: 750px; /* Set the desired height */
    width: auto; /* Keep the width auto to maintain aspect ratio */
  }
  
  /* Logo Size*/
.icon {
    font-size: 2.5rem; /* Adjust the font-size as needed */
  }
/* Align */
.position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
  }

  body {
    background-color: black; /* Set the background color of the entire page */
  }
  
  /* Style for the sections */
  section {
    color: white; /* Set text color to white */
  }
  
  .navbar,
  #portfolio,
  #projects {
    background-color: #333; /* Set the background color of the navbar, portfolio, and projects sections */
  }



nav{

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;

}

nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff0000;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;

}
nav ul li a:hover::after {
  width: 100%;

}

.social-icons {
  margin-top: 20px; /* Adjust the top margin as needed */
}

.social-icons a {
  font-size: 32px; /* Adjust the icon size as needed */
}

/* Style the contact form */
#contact form {
  max-width: 500px;
  margin: 0 auto;
}

#contact form .form-group {
  margin-bottom: 20px;
}

#contact form label {
  font-weight: bold;
}

#contact form textarea {
  resize: vertical; /* Allow resizing vertically */
}

/* Style the content area */
#content {
  min-height: calc(100vh - 100px); /* Adjust the value as needed */
  /* Subtract the height of the footer from the viewport height */
  /* 100px is an example height of the footer, adjust as needed */
}

/* Style the text color in the Projects section */
#projects {
  color: #000; /* Black text color */
}

/* Style the card title and text */
#projects .card-title,
#projects .card-text {
  color: #000; /* Black text color */
}

/* Adjust the spacing between the contact section and the footer */
#contact {
  margin-bottom: 70px; /* Adjust as needed */
}

